
@{
    ViewBag.Title = "ForgetPassword";
}

<div class="addUser_back container" style="margin-top:200px;">
    <div class="content_back"></div>
    <div class="Foget_inputform">
        <div style="text-align:center;">
            <h2 style="margin-bottom:30px;">找回密码</h2>
            <p>请输入您账户关联的邮箱</p>
        </div>
        <form action="@Url.Action("SendValicode")" method="post">
        <div class="input-group">
            <input class="form-control" style="width:100%;" id="inputEmail" name="inputEmail" type="email" placeholder="邮箱" required="required">
            <span class="input-group-btn">
                <button style="line-height: 0px;height:32px;font-size: 1.2rem;" class="btn btn-lg btn-primary btn-block" type="submit" id="find_pass">提交</button>
            </span>
        </div>
        </form>
    </div>


</div>
@Styles.Render("~/Content/Add_user.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/Forgetpassword")