
@{
    ViewBag.Title = "ForgetPassword";
}

<div class="addUser_back container" style="margin-top:200px;">
    <div class="content_back"></div>
    <div class="Foget_inputform">
        <div style="text-align:center;">
            <h2 style="margin-bottom:30px;">找回密码</h2>
            <p>请输入您账户关联的邮箱</p>
        </div>

        <div class="input-group">
            <input class="form-control" style="width:100%;" id="inputEmail" name="inputEmail" type="email" placeholder="邮箱" required="required">
            <span class="input-group-btn">
                <button style="line-height: 0px;height:32px;font-size: 1.2rem;" class="btn btn-lg btn-primary btn-block" type="button" id="find_pass">提交</button>
            </span>
        </div>
        <div class="input-group" id="inputvalicode" style="width:50%;">
            <input class="form-control" id="valicode" name="valicode" type="text" placeholder="验证码" required="required" />
            <span class="input-group-btn">
                <button style="line-height: 0px;height:32px;font-size: 1.2rem;" class="btn btn-lg btn-primary btn-block" type="button" id="find_vali">
                    验证
                </button>
            </span>

        </div>
        <div id="Change_password">
        @if (Session["User_account"] == null)
        {
            <p>未查询到有该邮箱,请换一个</p>
            
        }
        else
        {
              <label>账号:@Session["User_account"].ToString()</label>
              <form action="@Url.Action("Changepwd")" method="post" id="changepwd">
                <label>修改密码</label>
            <input class="form-control" style="width:25%;" id="newpw" name="newpw" placeholder="请输入密码" />
            <label>确认密码</label>
            <input style="width:25%;" class="form-control" id="conpw" name="conpw" placeholder="请确认密码" />
                  <button class="btn btn-group-sm" type="submit">修改</button>
            </form>
          
        }
            
        </div>


</div>
@Styles.Render("~/Content/Add_user.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/Forgetpassword")