
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/wusiqi/uplogin.css" rel="stylesheet" type="text/css" />
    <title>Login</title>
</head>
<body>
    <h1>阿婆主登录</h1>
    <div class="login-form"> 
            <div class="close"> </div>
            <div class="head-info">
                <label class="lbl-1"> </label>
                <label class="lbl-2"> </label>
                <label class="lbl-3"> </label>
            </div>
            <div class="clear"> </div>
            <div class="avtar">
            <img src="~/Img/wusiqi/login/avtar.png" />
            </div>
        <!--表单来咯-->
        @Html.BeginForm("Login","UP",FormMethod.Post,new { @class=""})
        <form>
            <input type="text" class="text" />
            <div class="key">
                <input type="password" class="password" />
            </div>
        </form>
        <div class="signin">
            <input type="submit" />

        </div>

    </div>

</body>
</html>
