
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/admin_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-indent"></i>商品上架</h3>
        <ol class="breadcrumb">商品管理<li><i class="fa fa-home"></i>商品上架</li></ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="fa fa-indent red"></i><strong>商品上架</strong></h2>
            </div>
        </div>
    </div>
</div>