
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/admin_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-indent"></i>商品上架</h3>
        <ol class="breadcrumb">商品管理<li><i class="fa fa-home"></i>商品上架</li></ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="fa fa-indent red"></i><strong>商品上架</strong></h2>
            </div>
            <div class="panel-body">
                <form action="@Url.Action("Add_Goods","admin")" method="post">
                    <div class="control-group row">
                        <label class="col-md-1 control-label span3"></label>
                        <div class="col-md-5">
                            <img src="" id="img1" style="min-width:100px;min-height:100px;max-width:400px;max-height:800px;">
                        </div>

                    </div>
                    <div class="control-group row">

                        <label for="requirement" class="col-md-1 control-label span3">商品图片上传</label>
                        <div class="col-md-5">
                            <div class="input-group">
                                <input id="photoCover" class="form-control" readonly type="text">
                                <label class="input-group-btn">
                                    <input id="file" type="file" name="file" style="left: -9999px; position: absolute;">
                                    <span class="btn btn-default">Browse</span>
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="control-group row">
                        <label class="col-md-1 control-label span3"></label>
                        <div class="col-md-5">
                            <img src="" id="img" style="min-width:100px;min-height:100px;max-width:400px;max-height:800px;">
                        </div>

                    </div>
                    <div class="control-group row">

                        <label for="requirement" class="col-md-1 control-label span3">商品详情图片</label>
                        <div class="col-md-5">
                            <div class="input-group">
                                <input id="photoCover1" class="form-control" readonly type="text">
                                <label class="input-group-btn">
                                    <input id="file1" type="file" name="file1" style="left: -9999px; position: absolute;">
                                    <span class="btn btn-default">Browse</span>
                                </label>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>