
@{
    ViewBag.Title = "Reposort_List";
    Layout = "~/Views/Shared/admin_Layout.cshtml";
}
<div class="row mt-lg-4">
    <div class="col-lg-12 mb-lg-4 open">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#guangao" role="tab">广告，发布谣言</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#yinhui" role="tab">淫秽，色情</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#zhanghua" role="tab">出口成脏</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#xielujm" role="tab">泄露国家机密</a>
            </li>
        </ul>
        <div class="tab-content">
            
        </div>
    </div>
</div>

