@model Dongdongdongman.Models.Comic_detail
@if (Model.fol == null)
{
<div class="f-fl sr-detail__bleft f-cb">
    @Ajax.ActionLink("+关注","Add_Follow1",new { Comic_id = Model.a.Comic_id },new AjaxOptions { UpdateTargetId= "Add_Comic",HttpMethod="post",InsertionMode=InsertionMode.Replace },htmlAttributes:new { @class= "sr-btn u-btn-read z-danger f-fl j-read" })
</div>
}
else
{
<div class="f-fl sr-detail__bleft f-cb">
    <a href="javascript:void(0);" id="quxiao" class="sr-btn u-btn-read z-danger f-fl j-read" style="background-color:gray;"> 取消关注 </a>
</div>
}

