@model Dongdongdongman.Models.Comic_detail
@if (Model.fol == null)
{
<div class="f-fl sr-detail__bleft f-cb">
    <a href="javascript:void(0);" id="guanzhu" class="sr-btn u-btn-read z-danger f-fl j-read"> + 关注 </a>
</div>
}
else
{
<div class="f-fl sr-detail__bleft f-cb">
    <a href="javascript:void(0);" id="quxiao" class="sr-btn u-btn-read z-danger f-fl j-read" style="background-color:gray;"> 取消关注 </a>
</div>
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")